:host {
    height: 100%;

    .products-search {
        height: 90px;

        .search-control {
            margin-top: 20px;
            width: 60%;
        }
    }

    .products-container {
        padding: 20px;

        width: 100%;
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 100%;
        }
    }
}