<div class="box">
    <div class="media columns is-mobile">
        <div class="media-left column is-narrow">
            <figure [class.is-loading]="isLoading" [ngClass]="imageClass" class="image element is-centered-vh">
                <i *ngIf="failedToLoad" class="material-icons md-60">broken_image</i>
                <img *ngIf="!failedToLoad" src="{{ item.getImageUrlSquare(imageSize) }}" alt="Product Image"
                    (error)="onImageLoadFailed($event)"
                    (load)="onImageLoaded($event)">
            </figure>
        </div>
        <div class="media-content column">
            <div class="content stack">
                <div class="product-title">
                    <strong>{{ item.title }}</strong>
                </div>
                <!-- didn't find how to retrieve product prices using provided instructions
                todo replace with real product price, this is just a place holder now -->
                <div class="product-price">
                    <small i18n>Product price is not available</small>
                </div>
                <div class="product-description">
                    <!-- todo would be nice to display real product product description
                    stub is being used for now -->
                    <span i18n> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas.
                        Nullam condimentum luctus turpis.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas.
                        Nullam condimentum luctus turpis.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
