<div class="stack">
    <div class="is-narrow">
        <products-filter></products-filter>
    </div>


    <div class="is-filled">
        <!-- <div class="products-container" *ngFor="let product of products">
                    <product  class="box" [item]="product"></product>
                </div> -->
        <virtual-scroll #scroll [items]="products">
            <div class="product-container" *ngFor="let product of products">
                <product [item]="product"></product>
            </div>
        </virtual-scroll>
    </div>
</div>