<div class="stack">
    <div class="is-narrow">
        <products-filter></products-filter>
    </div>

    <div [class.is-loading]="(isLoadingProducts | async)"
        class="is-filled element">

        <div *ngIf="!(hasProducts | async) && !(isLoadingProducts | async)" class="is-centered-vh">
            <div class="has-text-centered">
                <span class="title has-text-grey" i18n>
                    No products found which match your selection.
                </span>
            </div>
        </div>

        <products-list *ngIf="(hasProducts | async)" [products]="products | async"></products-list>
    </div>
</div>
