:host {
    height: 100%;


    .products-container {
        padding: 20px;

        width: 100%;
        display: flex;
        flex-wrap: wrap;

        > div {
            width: 100%;
        }
    }
}
