<div class="is-centered-vh">
    <div class="login-container is-centered-h has-text-centered stack">

        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>

        <div class="box">
            <form [formGroup]="form">
                <div class="field">
                    <div class="control">
                        <input
                            [class.is-danger]="(usernameCtrl.touched || usernameCtrl.dirty) && usernameCtrl.errors"
                            [required]="true"
                            [formControl]="usernameCtrl"
                            class="input is-large" type="email" placeholder="Your Email">
                    </div>
                    <ng-container *ngIf="(usernameCtrl.touched || usernameCtrl.dirty) && usernameCtrl.errors">
                        <p *ngIf="usernameCtrl.hasError('required')" class="help is-danger">
                            Username is required field.
                        </p>
                        <p *ngIf="usernameCtrl.hasError('email')" class="help is-danger">
                            Username should be a valid email address.
                        </p>
                        <p *ngIf="usernameCtrl.hasError('maxlength')" class="help is-danger">
                            Username should not exceed {{ validationOptions.usernameMaxLength }} symbols.
                        </p>
                        <p *ngIf="usernameCtrl.hasError('minlength')" class="help is-danger">
                            Username should be at least {{ validationOptions.usernameMinLength }} symbols.
                        </p>
                    </ng-container>
                </div>

                <div class="field">
                    <div class="control">
                        <input
                            [class.is-danger]="(passwordCtrl.touched || passwordCtrl.dirty) && passwordCtrl.errors"
                            [required]="true"
                            [formControl]="passwordCtrl"
                            class="input is-large" type="password" placeholder="Your Password">
                    </div>
                    <ng-container *ngIf="(passwordCtrl.touched || passwordCtrl.dirty) && passwordCtrl.errors">
                        <p *ngIf="passwordCtrl.hasError('required')" class="help is-danger">
                            Password is required field.
                        </p>
                        <p *ngIf="passwordCtrl.hasError('maxlength')" class="help is-danger">
                            Password should not exceed {{ validationOptions.passwordMaxLength }} symbols.
                        </p>
                        <p *ngIf="passwordCtrl.hasError('minlength')" class="help is-danger">
                            Password should be at least {{ validationOptions.passwordMinLength }} symbols.
                        </p>
                    </ng-container>
                </div>

                <button
                    [disabled]="form.invalid"
                    (click)="login()"
                    [class.is-loading]="(inProgress | async)"
                    class="button is-primary is-outlined is-large is-fullwidth">
                    Login
                </button>
            </form>
        </div>
    </div>
</div>
