<div class="is-centered-vh">
    <div class="login-container has-text-centered stack">

        <h3 class="title has-text-grey" i18n>Login</h3>
        <p class="subtitle has-text-grey" i18n>Please login to proceed.</p>

        <div class="box">
            <form [formGroup]="form">
                <div class="field">
                    <div class="control">
                        <input
                            [class.is-danger]="(usernameCtrl.touched || usernameCtrl.dirty) && usernameCtrl.errors"
                            [required]="true"
                            [formControl]="usernameCtrl"
                            class="input is-large" type="email" placeholder="Your Email" i18n-placeholder>
                    </div>
                    <ng-container *ngIf="(usernameCtrl.touched || usernameCtrl.dirty) && usernameCtrl.errors">
                        <p *ngIf="usernameCtrl.hasError('required')" class="help is-danger">
                            <span i18n>Username is required field.</span>
                        </p>
                        <p *ngIf="usernameCtrl.hasError('email')" class="help is-danger">
                            <span i18n>Username should be a valid email address.</span>
                        </p>
                        <p *ngIf="usernameCtrl.hasError('maxlength')" class="help is-danger">
                            <span i18n>Username should not exceed {{ validationOptions.usernameMaxLength }} symbols.</span>
                        </p>
                        <p *ngIf="usernameCtrl.hasError('minlength')" class="help is-danger">
                            <span i18n>Username should be at least {{ validationOptions.usernameMinLength }} symbols.</span>
                        </p>
                    </ng-container>
                </div>

                <div class="field">
                    <div class="control">
                        <input
                            [class.is-danger]="(passwordCtrl.touched || passwordCtrl.dirty) && passwordCtrl.errors"
                            [required]="true"
                            [formControl]="passwordCtrl"
                            class="input is-large" type="password" placeholder="Your Password" i18n-placeholder>
                    </div>
                    <ng-container *ngIf="(passwordCtrl.touched || passwordCtrl.dirty) && passwordCtrl.errors">
                        <p *ngIf="passwordCtrl.hasError('required')" class="help is-danger">
                            <span i18n>Password is required field.</span>
                        </p>
                        <p *ngIf="passwordCtrl.hasError('maxlength')" class="help is-danger">
                            <span i18n>Password should not exceed {{ validationOptions.passwordMaxLength }} symbols.</span>
                        </p>
                        <p *ngIf="passwordCtrl.hasError('minlength')" class="help is-danger">
                            <span i18n>Password should be at least {{ validationOptions.passwordMinLength }} symbols.</span>
                        </p>
                    </ng-container>
                </div>

                <button
                    [disabled]="form.invalid || (inProgress | async)"
                    (click)="login()"
                    [class.is-loading]="(inProgress | async)"
                    class="button is-primary is-large is-fullwidth">
                    <span i18n>Login</span>
                </button>
            </form>
        </div>
    </div>
</div>
