<div class="is-centered-v has-text-centered">
    <div class="stack column is-4 is-offset-4">
        <h3 class="title has-text-grey" i18n>Requested page just does not exist.</h3>
        <p class="subtitle has-text-grey">
            <span i18n>Shall we go to</span>
            <a routerLink="{{ routerLink }}" class="is-primary" i18n>products list</a>
            <span i18n>instead?</span>
        </p>
        <div class="image">
            <img src="https://media.giphy.com/media/I8nepxWwlEuqI/giphy.gif">
        </div>
    </div>
</div>
