$product-filter-height: 90px !default;
$product-filter-search-control-margin: 20px !default;

.products-search {
    height: $product-filter-height;

    .search-control {
        margin-top: $product-filter-search-control-margin;
        width: 60%;
    }
}

