<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image element is-loading">
                <img (load)="onImageLoaded($event)" src="{{ item.getImageUrlSquare(imageSize) }}" alt="Product Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ item.title }}</strong>
                    <small>@johnsmith</small>
                    <small>31m</small>
                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa
                    fringilla egestas. Nullam condimentum luctus turpis.
                </p>
            </div>
        </div>
    </article>
</div>
